# Eclipse 관련 파일
.metadata/
*.tmp
*.bak
*.swp
*~.nib

# 빌드 결과물
/build/
!/src/main/resources/
!/src/main/resources/**

# OS 별 불필요 파일
.DS_Store
Thumbs.db

# IntelliJ IDEA 관련 파일
.idea/
*.iml

# Gradle Wrapper 파일
.gradle/
!gradle-wrapper.jar

# 로그 파일
*.log

# 환경 설정 파일
application.properties
application.yml
.env

# 캐시 및 임시 파일
*.class
*.war
*.jar
